// ===============================
//	SETTINGS
// ===============================

@import "global/functions",
				"global/grid",
				"global/sass-mq";

//* ====================================
//		COLOR SETTINGS
//		If using a different name for the map, update @include palette();
//* ====================================
$coreColors: (
	'primary': 	 #E2DDD1,
	'secondary': #003A5D,
	'tertiary':  #F6BD60,
	'accent': 	 #00a0e0,
	'active': 	 #B4D12B,
	'neutral': 	 #414150,
	// message colors
	default: 		 #5D576B,
	info: 			 #41D3BD,
	success: 		 #A9E190,
	alert: 			 #F4F1BB,
	hi-alert: 	 #fe7f2d,
	warn: 			 #ED6A5A
) !default;

// MUST be imported AFTER defining $coreColors!
@import "color/functions";
@import "color/mixins";

// quad/quadratic = square tetrad harmony; tetrad/tetradic = rectangular tetrad
// rangeType = adaptive | static | tintshade | default
@include palette($color: 'primary', $complement-name: 'complement', $rangeType: 'static', $harmony: 'analogous', $rangeDepth: 9);

// ===============================
//	GENERAL VARIABLES
// ===============================
$sk-note--color: getColor('neutral-700');

// ===============================
//	GLOBAL HELPER CLASSES
//	*must* be imported AFTER colors
//	are defined & $palette created!
// ===============================			
@import "global/helper-classes";

// ===============================
//	SK-FILTER VARIABLES
// ===============================
$sk-filter-container--color: getColor('neutral-900');
$sk-filter-title--bg-color: getColor('secondary-700');
$sk-filter-title-hover--bg-color: getColor('accent-400');
$sk-filter-title--color: getContrast( $sk-filter-title--bg-color );
$sk-filter-title-hover--color: getContrast( $sk-filter-title-hover--bg-color );
$sk-filter-list--box-shadow-color: getColor('neutral-400');
$sk-filter-list--bg-color: getColor('neutral-100');

$sk-filter-hover--bg-color: getColor('accent-400');
$sk-filter-hover--color: getContrast($sk-filter-hover--bg-color);

$sk-active-filter--bg-color: getColor('active-400');
$sk-active-filter--color: getContrast(getColor('active-400'));
$sk-filter-count--bg-color: getColor('neutral-200');
$sk-filter-count--color: getContrast( getColor('neutral-200') );

$sk-filter-notice--bg-color: getColor('alert-100');
$sk-filter-notice--color: getContrast($sk-filter-notice--bg-color);
$sk-filter-notice--border-color: getColor('alert-400');

$sk-remove-filter--color: getColor('alert-400');

// ===============================
//	SK-NOTICES VARIABLES
// ===============================
$sk-notice-info--border-color: getColor('info-400');
$sk-notice-info--bg-color: getColor('info-50');

$sk-notice-success--border-color: getColor('success-400');
$sk-notice-success--bg-color: getColor('success-50');

$sk-notice-success--border-color: getColor('success-400');
$sk-notice-success--bg-color: getColor('success-50');

$sk-notice-alert--border-color: getColor('alert-400');
$sk-notice-alert--bg-color: getColor('alert-50');

$sk-notice-warn--border-color: getColor('warn-400');
$sk-notice-warn--bg-color: getColor('warn-50');

$sk-notice-neutral--border-color: getColor('neutral-400');
$sk-notice-neutral--bg-color: getColor('neutral-50');

// ===============================
//	SK-COLOR-PALETTES VARIABLES
// ===============================
$sk-color-block--height: 4rem;
$sk-color-block--min-height: 1rem;

// ===============================
//	SK-CHECKLISTS VARIABLES
// ===============================
$save-checklist--bg-color: getColor('success-400');
$save-cert--color: getColor('success-600');
$clear-checklist--bg-color: getColor('alert-400');
$clear-cert--color: getColor('alert-500');
$remove-checklist--bg-color: getColor('hi-alert-400');
$remove-cert--color: getColor('hi-alert-600');
$clear-storage--bg-color: getColor('warn-400');
$clear-storage-cert--color: getColor('warn-600');

$checklist-checkbox--bg-color: getColor('neutral-50');
$checklist-checkbox--border-color: getColor('neutral-400');
$checklist-checkmark--color: getColor('success-400');