@import "settings";
// ===============================
//	ADMIN:ADDRESSBOOK VARIABLES
// ===============================
$add-btn--color: getColor('success-500');
$delete-btn--color: getColor('warn-400');

// ===============================
//	ADMIN:GENERAL STYLES
// ===============================
.no-pad {
	padding: 0;

	&-top { padding-top: 0; }
	&-bottom { padding-bottom: 0; }
	&-left { padding-left: 0; }
	&-right { padding-right: 0; }
}

tr.no-pad > th,
tr.no-pad > td { padding: 0; }

tr.no-pad-top > th,
tr.no-pad-top > td { padding-top: 0; }

tr.no-pad-bottom > th,
tr.no-pad-bottom > td { padding-bottom: 0; }

tr.no-pad-left > th,
tr.no-pad-left > td { padding-left: 0; }

tr.no-pad-right > th,
tr.no-pad-right > td { padding-right: 0; }

#sk-d_default_photo_image-upload img {
	max-height: 100px;
	margin-left: 3.25rem;
}

// ===============================
//	ADMIN:ADDRESSBOOK STYLES
// ===============================
#sk_addressbook_form form-table tbody {
	display: flex;
	flex-flow: row nowrap;

	& > tr {
		flex: 1;
		min-width: 50%;
	}
}

.sk-contact-container {
	& + & {
		margin-top: 0.5rem;
		padding: 0.5rem;
	}

	& input { margin-right: 1rem; }

	&:nth-child(even) { background-color: #ddd; }

	&:first-child { padding-left: 2.65rem; }
}

.sk-contact {
	&--add, &--delete { margin: 0 0.5rem; }
	&--add { color: $add-btn--color; background-color: getContrast($add-btn--color); }
	&--delete { color: $delete-btn--color; background-color: getContrast($delete-btn--color); }
}