@import "settings";

.sk-checklist-title {
	display: inline-block;
	margin: 0.2rem 1rem 0.2rem 0.4rem;
	vertical-align: middle;
}

.sk-checklist-title { padding-bottom: 0.2rem; }

.button-container {
	position: relative;
	display: inline-block;
	margin: 0 1.25rem 0 0;
	vertical-align: middle;
	padding: 0;

	& .cert-check {
		position: absolute;
		right: -12px;
		top: -10px;
		padding: 0;
		margin: 0;

		& i.fa-check {
			position: absolute;
			z-index: 10;
			color: white;
			right: 7px;
			top: 7px;
			font-size: 0.75rem;
		}

		& i.fa-certificate {
			position: absolute;
			right: 0;
			top: 0;
			font-size: 1.65rem;
		}
	}

	& .save-checklist + .cert-check i.fa-certificate { color: $save-cert--color; }
	& .clear-checklist + .cert-check i.fa-certificate { color: $clear-cert--color; }
	& .remove-checklist + .cert-check i.fa-certificate { color: $remove-cert--color; }
	& .clear-storage + .cert-check i.fa-certificate { color: $clear-storage-cert--color; }
}

.button-container input[type="button"] {
	font-size: 1rem;
}

input[type="button"].save-checklist {
	background-color: $save-checklist--bg-color;
	color: getContrast($save-checklist--bg-color);
}

input[type="button"].clear-checklist {
	background-color: $clear-checklist--bg-color;
	color: getContrast($clear-checklist--bg-color);
}

input[type="button"].remove-checklist {
	background-color: $remove-checklist--bg-color;
	color: getContrast($remove-checklist--bg-color);
}

input[type="button"].clear-storage {
	background-color: $clear-storage--bg-color;
	color: getContrast($clear-storage--bg-color);
}

.sk-checklist {
	list-style-type: none;
	margin: 0;
	padding: 0;
	text-indent: 0;

	& li input {
		margin-right: 1rem;
		opacity: 0;
	}

	& li,
	& li > input {
		position: relative;
	}

	& li::before {
		position: absolute;
		display: inline-block;
		content: "";
		width: 1.2rem;
		height: 1.2rem;
		bottom: 9px;
		left: -1px;
		background-color: $checklist-checkbox--bg-color;
		border: 1px solid $checklist-checkbox--border-color;
		border-radius: 4px;
	}

	& li.checked > i {
		position: absolute;
		display: inline-block;
		bottom: 10px;
		left: 1px;
		font-size: 1.4rem;
		color: $checklist-checkmark--color;
	}
}