@import "settings";

.sk-color-default {
	@include palette($color: 'primary', $colorMap: $coreColors, $complement-name: 'complement', $rangeType: 'static', $harmony: 'analogous', $rangeDepth: 9);

	@each $name,$color in $palette {
		//@debug "text-#{$name}";

		&.text-#{$name} { color: unquote("#{$color}"); }
		&.background-#{$name} {
			background-color: unquote("#{$color}");
			color: getContrast($color);
		}
	}
}

.sk-color-sk {
	@include palette($color: 'tea', $colorMap: $SKColors, $complement-name: false, $rangeType: 'static', $harmony: 'none', $rangeDepth: 9, $include-complement: false);

	@each $name,$color in $palette {
		&.text-#{$name} { color: unquote("#{$color}"); }
		&.background-#{$name} {
			background-color: unquote("#{$color}");
			color: getContrast($color);
		}
	}
}