@import "settings";

.sk-notice {
	width: 100%;
	margin: 1rem 0.2rem 0.5rem 0.2rem;
	padding: 0.3rem 0.75rem;
	border: 2px solid #333;
	background-color: gainsboro;

	&--centered { text-align: center; }

	&--font-xx-small { font-size: xx-small; }
	&--font-x-small { font-size: x-small; }
	&--font-small { font-size: small; }
	&--font-normal { font-size: normal; }
	&--font-large { font-size: large; }
	&--font-x-large { font-size: x-large; }
	&--font-xx-large { font-size: xx-large; }

	&--info {
		border-color: $sk-notice-info--border-color;
		background-color: $sk-notice-info--bg-color;
	}
	&--success {
		border-color: $sk-notice-success--border-color;
		background-color: $sk-notice-success--bg-color;
	}
	&--warn {
		border-color: $sk-notice-warn--border-color;
		background-color: $sk-notice-warn--bg-color;
	}
	&--alert {
		border-color: $sk-notice-alert--border-color;
		background-color: $sk-notice-alert--bg-color;
	}
	&--neutral {
		border-color: $sk-notice-neutral--border-color;
		background-color: $sk-notice-neutral--bg-color;
	}
	&--simple {
		border: none;
		background-color: transparent;
		padding: 0.25rem 0.75rem;
		margin: 0.15rem;
	}
}

.sk-notice--date {
	&-bold { font-weight: bold; }
	&-large { font-size: larger; }
}

.sk-note {
	font-size: small;
	font-style: italic;
	color: $sk-note--color;
}