$PacSciBrandColors: (
	'light-blue': #00A0E0,
	'dark-blue': 	#003A5D,
	'grey': 			#D2D2D2,
	// secondary colors
	'acid': 		#c6ca53,
	'eggplant': #75485E,
	'coyote': 	#885a3a,
	'flame':		#E44001,
	'olive': 		#858503,
	'keppel': 	#58AF9E,
	'manatee': 	#8E96A1,
);

// MUST be imported AFTER defining $coreColors!
@import "color/functions";
@import "color/mixins";

.psc-colors-wrap {
	@include palette($colorMap: $PacSciBrandColors, $color: 'light-blue', $include-complement: false, $rangeType: 'static', $harmony: 'none', $rangeDepth: 9);

	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-items: stretch;

	.psc-colors-container {
		flex: 1 0 25%;
		display: flex;
		flex-flow: column nowrap;
		justify-content: center;
		align-items: stretch;
		margin: 0.5rem 1rem 1rem;

		@each $name,$color in $palette {
			//@debug "psc-bg-contrast-color-#{$name}";

			& .psc-bg-contrast-color-#{$name} {
				flex: 1;
				position: relative;
				padding: 0.25rem 0.5rem;
				display: flex;
				flex-flow: row wrap;
				justify-content: space-between;
				align-items: center;
				background-color: $color;
				color: getContrast($color);

				& .name:before {
					content: quote($name);
					color: getContrast($color);
				}

				& .hex:before {
					content: quote($color);
					color: getContrast($color);
				}
			}

			&.gradients .psc-bg-contrast-color-#{$name} {
				margin-bottom: 18px;
				&::after {
					// border-bottom: 4px solid transparent;
					position: absolute;
					bottom: -10px;
					left: 0;
					height: 10px;
					width: 100%;
					content: " ";
					background: linear-gradient(to right, $color 20%, white 50%, $color 50%, black 80%);
				}
			}
		}
	}
}

.psc-colors-container div:first-child {
	border-bottom: 4px solid white;
}