@import 'color/palettes';

/** WHITE & BLACK **/
.has-white-color {
	color: #FFFFFF;
}

.is-style-outline .has-white-color {
	color: #FFFFFF;
	border-color: #FFFFFF;
}

.wp-block-button .wp-block-button__link.has-white-background-color,
.has-white-background-color {
	background-color: #FFFFFF;
}

.has-black-color {
	color: #000000;
}

.is-style-outline .has-black-color {
	color: #000000;
	border-color: #000000;
}

.wp-block-button .wp-block-button__link.has-black-background-color,
.has-black-background-color {
	background-color: #000000;
}

/**	PSC COLORS **/
@include palette($colorMap: $PacSciBrandColors, $color: 'light-blue', $include-complement: false, $rangeType: 'static', $harmony: 'none', $rangeDepth: 3);
// @debug $palette;

@each $name,$color in $palette {
	.has-#{$name}-color { color: $color; }
	.is-style-outline .has-#{$name}-color { color: $color; border-color: $color; }
	.wp-block-button .wp-block-button__link.has-#{$name}-background-color,
	.has-#{$name}-background-color { background-color: $color; }
}