#skb-butterflies-gallery {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	align-items: flex-start;
}

#skb-butterflies-gallery.masonry {
	display: block;
	columns: 4;
	column-gap: 1rem;

	& .card {
		margin: 1rem 0;
		display: inline-block;
	}
}

.card {
	flex: 1 0 25%;
	box-shadow: 1px 1px 2px #a3a3a3;
	margin: 0.5rem;
	padding: 0.75rem;

	img {
		width: 100%;
	}

	figcaption.skb-butterfly-details {

		& > p { padding: 0; margin: 0; line-height: 1.2rem; }
	}
}

.skb-butterflies--single-gallery {
	display: flex;
	flex-flow: row wrap;

	& > img {
		flex: 1 0 25%;
	}
}