@import "settings";

#skb-filter-container {
	display: flex;
	flex-flow: column nowrap;
	justify-content: space-between;
	align-items: stretch;
	color: getColor('neutral-900');
}

.skb-wrapper { 
	flex: 1; 
	display: flex; 
	flex-flow: column nowrap;
	margin: 0 0.5rem;
	position: relative;
}

.skb-filter-title {
	position: relative;
	z-index: 12;
	flex: 0;
	cursor: pointer;
	text-align: center;
	font-size: large;
	font-weight: bold;
	text-transform: capitalize;
	background-color:  getColor('secondary-700');
	color: getContrast( getColor('secondary-700') );

	&:hover,
	&:active {
		background-color: getColor('accent-400');
		color: getContrast( getColor('accent-400') );
	}
}

.skb-filter-list {
	box-shadow: inset 0 6px 3px -2px getColor('neutral-400');
	position: absolute;
	top: 2.2rem;
	z-index: 10;
	flex: 1;
	list-style-type: none;
	display: flex;
	flex-flow: column nowrap;
	width: 100%;
	margin: 0;
	padding: 0.25rem 0 0;
	background-color: getColor('neutral-50');
}

.skb-filter-list + .skb-filter-title {
	margin-top: 1rem;
}

.skb-filter {
	text-transform: capitalize;
	flex: 1;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: center;
	padding: 0.4rem 0.5rem;
	line-height: 1.2rem;

	&.skb-active-filter {
		background-color: getColor('active-400');
		color: getContrast( getColor('active-400') );

		.skb-filter-count { color: getContrast( getColor('neutral-200') ); }
	}

	&:hover,
	&:focus {
		background-color: getColor('accent-400');
		color: getContrast( getColor('accent-400') );
		cursor: pointer;
	}
}

.skb-filter-count {
	background-color: getColor('neutral-200');
	color: getColor('neutral-600');
	border-radius: 0.15rem;
	padding: 2px 0 0;
	flex: 1 0 10%;
	max-width: 2.5rem;
	text-align: center;
}

#skb-filter-notice {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-around;
	align-items: center;
	text-align: center;
	font-size: large;
	background-color: getColor('alert-100');
	color: getContrast( getColor('alert-100') );
	border: 2px solid getColor('alert-400');
	margin: 1rem 0;

	& > span {
		flex: 1;
		text-align: center;
		margin-left: 3rem;
	}

	#skb-remove-filter {
		cursor: pointer;
		flex: 1;
		max-width: 1rem;
		margin-right: 1rem;

		&:hover,
		&:focus {
			color: getColor('alert-400');
		}
	}
}

#skb-filter-colorblocks-container {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-items: flex-start;
	padding: 1rem 0;
}

.skb-colorblock {
	cursor: pointer;
	position: relative;
	z-index: 10;
	display: inline-block;
	width: 2rem;
	height: 2rem;
	margin: 0.25rem;
	border: 1px solid #000;
	// box-shadow: 1px 0 1px 1px #aaa, -1px 0 1px 1px #aaa, 0 1px 1px 1px #aaa, 0 -1px 1px 1px #aaa;
}

.skb-active-colorblock {
	border: 3px solid #000;
}

/**
 * MEDIA QUERIES
**/
@media all and (min-width: 1024px) {
	#skb-filter-container {
		flex-flow: row wrap;
		justify-content: space-between;
	}
}