//* ====================================
//		COLOR SETTINGS
//		If using a different name for the map, update @include palette();
//* ====================================
$coreColors: (
	'primary': 	 #F4EEB4,
	'secondary': #942668,
	'tertiary':  #E2DDD1,
	'accent': 	 #B4D12B,
	'active': 	 #00a0e0,
	'neutral': 	 #414150,
	// message colors
	default: 		 #5D576B,
	info: 			 #41D3BD,
	success: 		 #A9E190,
	alert: 			 #F4F1BB,
	warn: 			 #ED6A5A
) !default;

// MUST be imported AFTER defining $coreColors!
@import "color/functions";
@import "color/mixins";

// quad/quadratic = square tetrad harmony; tetrad/tetradic = rectangular tetrad
// rangeType = adaptive | static | tintshade | default
@include palette($color: 'primary', $complement-name: 'complement', $rangeType: 'static', $harmony: 'analogous', $rangeDepth: 9);
