// ===============================
//	COLOR PALETTES
// ===============================

$coreColors: (
	'primary': 	 #F4EEB4,
	'secondary': #942668,
	'accent': 	 #B4D12B,
	'neutral': 	 #414150
) !default;

$messageColors: (
	default: 		 #5D576B,
	info: 			 #41D3BD,
	success: 		 #A9E190,
	alert: 			 #F4F1BB,
	hi-alert: 	 #ED6A5A,
	warn: 			 #ee363b,
	'neutral': 	 #414150
) !default;

$SKColors: (
	'tea': 				#e1f0c4, // fab3a9
	'pewter': 		#8da7be, // 70ae6e
	'lavender': 	#efbdeb, // 157a6e
	'infrared': 	#ef476f, // 5f24bf
	'neutral': 		#424c55, // 30343f
) !default;

$map:					$SKColors	!default;
$targetColor: 'primary' !default;
$type: 				'static' 	!default;
$depth: 			3 				!default;

// MUST be imported AFTER defining $coreColors!
@import "color/functions";
@import "color/mixins";